.tend {
  @include bg;
  background-image: url('/src/img/bgs/tend-bg.jpg');
  padding-bottom: 94px;
  padding-top: 130px;

  @media (max-width: 650px) {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

.tend__title {
  margin-bottom: 7px;
  @include max-width(778px);
  margin-left: auto;
  margin-right: auto;
}

.tend__content {
  margin-top: 50px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 60px 243px rgba(202, 202, 202, 0.25),
    0px 25.0666px 101.52px rgba(202, 202, 202, 0.179714),
    0px 13.4018px 54.2772px rgba(202, 202, 202, 0.149027),
    0px 7.51293px 30.4274px rgba(202, 202, 202, 0.125),
    0px 3.99006px 16.1597px rgba(202, 202, 202, 0.100973),
    0px 1.66035px 6.72443px rgba(202, 202, 202, 0.0702864);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 42px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 40px;
  margin-bottom: 50px;

  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: center;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 767px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 650px) {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
}

.tend__content-left-side {
  @include max-width(517px);
}

.tend__content-text {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 24px;

  @media (max-width: 650px) {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  @include mobile-mb;
}

.tend__content-list-box {
  display: flex;
  gap: 57px;

  @media (max-width: 650px) {
    flex-direction: column;
    gap: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.tend__content-list {
  @include reset-list;

  &:nth-child(1) {
    @include max-width(166px);
  }

  &:nth-child(2) {
    @include max-width(254px);
  }

  & > * + * {
    margin-top: 19px;
  }
}

.tend__content-item {
  padding-left: 28px;
  position: relative;
  margin-bottom: 0;

  &::before {
    width: 18px;
    height: 18px;
    @include bg;
    background-image: url('/src/img/icons/model-check.svg');
    position: absolute;
    left: 0;
    @include y-align;
    content: '';
  }
}

.tend__slider {
  width: 100%;
  height: 360px;

  @media (max-width: 650px) {
    height: 220px;
  }
}

.tend__slider-wrapper {
  position: relative;
  @include max-width(414px + 20px + 51px);
  height: 360px;

  @media (max-width: 650px) {
    height: 216px;
  }
}

.tend__slides-box {
  position: relative;
  padding-right: 71px;

  @media (max-width: 650px) {
    height: 220px;
    padding-right: 30px;
  }
}

.tend__slide-img {
  width: 100%;
  height: auto;
}

.tend__btn-box {
  position: absolute;
  right: 0;
  @include y-align;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tend__slider-btn {
  width: 51px;
  height: 51px;
  @include bg;
  top: 0 !important;
  position: relative !important;
  left: 0 !important;
  margin-top: 0 !important;

  @media (max-width: 650px) {
    zoom: 0.5;
  }

  &::after {
    content: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &_prev {
    background-image: url('/src/img/icons/tend-prev-arrow.svg');
    left: 0px;
  }
  &_next {
    background-image: url('/src/img/icons/tend-next-arrow.svg');
    right: 0px;
  }
}

.tend__slider-pagination {
  position: relative;
  bottom: 0;
  margin-top: 0px !important;
  right: 0 !important;
  top: 0 !important;
  transform: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 650px) {
    span {
      margin: 2px !important;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: linear-gradient(0deg, #dadadb, #dadadb);
  }

  .swiper-pagination-bullet-active {
    background: linear-gradient(
      90deg,
      #4d95ff 0%,
      #539fff 19.92%,
      #62b6ff 57.61%,
      #6dbaff 84.92%,
      #93caff 99.42%
    );
    width: 15px;
    height: 15px;
  }
}

.tend__bottom-box {
  max-width: 496px;
  margin-left: auto;
  position: relative;

  &::after {
    width: 1058px;
    aspect-ratio: 1058/689;
    position: absolute;
    left: -1058px;
    top: -15px;
    @include bg;
    background-image: url('/src/img/tend-flowers.png');
    content: '';

    @media (max-width: 650px) {
      display: block;
      position: relative;
      margin-top: 10px;
      width: 650px;
      @include x-align;
      top: 0;
      margin-bottom: -30px;
    }
  }
}

.tend__list {
  @include reset-list;
  margin-bottom: 42px;

  & > * + * {
    margin-top: 26px;
  }

  @include mobile-mb;
}

.tend__item {
  padding-left: 127px;
  position: relative;

  @media (max-width: 650px) {
    padding-left: 100px;
  }

  &::before {
    position: absolute;
    left: 0;
    @include y-align;
    zoom: 0.5;

    @media (max-width: 650px) {
      zoom: 0.4;
    }
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      content: url('/src/img/icons/tend/#{$i}.png');
    }
  }
}

.tend__item-numbers {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.6;

  @media (max-width: 650px) {
    font-size: 20px !important;
  }
}

.tend__item-text {
  margin-bottom: 0;
}

.tend__note {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 0;
}
